# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# zip files
*.zip
*.rar

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
#*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 忽略当前路径中.vscode和.vs文件夹下的所有文件
.vscode/*
.vs/*

!.gitignore

# 忽略json文件
.json